.navbar {position: fixed;
width: 100%;
top: 0;
left: 0;
transition: 0.5s all ease-out;
background-color: transparent;
box-shadow: none;
}

.navbar.scrolled {
background-color: rgb(105, 47, 19) !important;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3) !important;
}

.navbar a {
  color: rgb(255, 255, 255) !important;
  font-size: medium !important;
}
/* App.css */
.nav-link:hover i {
    transform: scale(1.2); /* Slightly increase size on hover */
    transition: transform 0.3s ease;
    color: #ff6347; /* Change color on hover */
  }
  /* #animated-text {
    font-size: 48px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    display: inline-block;
    opacity: 0;
    animation: slideIn 2s forwards;
  }
  
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(0px); 
    }
    100% {
      opacity: 1;
      transform: translateY(5); 
    }
  } */
.imgg{
    margin: auto;
    height: 40px;
}
.navbar a:hover {
  color: rgb(0, 195, 230) !important;
}
.navbar .dropdown-menu {
  position: absolute !important;
  margin-top: 0;

  background: rgb(0, 0, 0);
}

@media screen and (max-width: 990px) {
  .navbar {
    outline: none;
    background-color: rgba(255, 255, 255, 0.9) !important;
    transition: all 0.5s;
  }
}
.intro-description{
    padding: 2%;
}