/* App.css */
.content {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2rem;
  }

  .flex-parallax{
    display: flex;
    flex-direction: row;
    padding: 50px;
  }

/* Section Container */
.section {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap; /* Ensures responsiveness */
  padding: 20px;
}

/* Navigation Buttons */
.nav-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none; 
  /* background: linear-gradient(135deg, #2646e4, #1a2b8f);  */
  color: #ffffff; 
  font-weight: bold;
  font-size: 16px;
  padding: 12px 20px;
  transition: 0.3s ease-in-out;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

/* Button Icon */
.btn-icon {
  width: 30px;
  height: 30px;
}

/* Hover Effects */
.nav-btn:hover {
  /* background: linear-gradient(135deg, #1a2b8f, #2646e4); Reverse gradient */
  transform: translateY(-3px); /* Slight lift */
  box-shadow: 0 3px rgb(255, 255, 255);
}
/* Active State */
.nav-btn.active {
  transform: translateY(-3px); /* Slight lift */
  box-shadow: 0 3px rgb(255, 255, 255);
  color: rgb(247, 247, 247);
}

.nav-btn.active .btn-icon {
  transform: scale(1.2); /* Slightly enlarge active icon */
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .section {
    flex-direction: column;
    align-items: center;
  }

  .nav-btn {
    width: 100%;
    justify-content: center;
  }
}
